// Monochrome --------------------------------
$mono1:  hsl(220, 15%,  5%);
$mono2:  hsl(220, 15%, 10%);
$mono3:  hsl(220, 15%, 25%);
$mono4:  hsl(220, 15%, 40%);
$mono5:  hsl(220, 15%, 60%);
$mono6:  hsl(220, 15%, 85%);
// Colours -----------------------------------
$red:    hsl(355, 65%, 65%); 
$orange: hsl( 29, 59%, 65%); 
$yellow: hsl( 53, 67%, 69%); 
$green:  hsl( 95, 38%, 62%); 
$cyan:   hsl(187, 48%, 61%); 
$blue:   hsl(207, 67%, 67%); 
$purple: hsl(271, 59%, 70%); 
$pink:   hsl(296, 60%, 67%); 
